#[member]
ETCD_NAME="<%= @ec2_tag_name %>"
ETCD_DATA_DIR="/var/lib/etcd/<%= @etcd_cluster_name %>.etcd"
ETCD_WAL_DIR=""
ETCD_SNAPSHOT_COUNTER="10000"
ETCD_HEARTBEAT_INTERVAL="100"
ETCD_ELECTION_TIMEOUT="1000"
ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:<%= @client_port %>"
ETCD_ADVERTISE_CLIENT_URLS="https://<%= @ec2_tag_hostname %>.<%= @ec2_tag_cluster %>.<%= @dns_root %>:<%= @client_port %>"
ETCD_MAX_SNAPSHOTS="5"
ETCD_MAX_WALS="5"
#
#[proxy]
ETCD_PROXY="off"
ETCD_PROXY_FAILURE_WAIT="5000"
ETCD_PROXY_REFRESH_INTERVAL="30000"
ETCD_PROXY_DIAL_TIMEOUT="1000"
ETCD_PROXY_WRITE_TIMEOUT="5000"
ETCD_PROXY_READ_TIMEOUT="0"
#

#[cluster]
ETCD_LISTEN_PEER_URLS="https://0.0.0.0:<%= @peer_port %>"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://<%= @ec2_tag_hostname %>.<%= @ec2_tag_cluster %>.<%= @dns_root %>:<%= @peer_port%>"
ETCD_INITIAL_CLUSTER="<% array=[] -%>
<% @etcd_count.to_i.times do |i| -%>
<%  array<<"kubernetes.#{@ec2_tag_cluster}.#{@ec2_tag_role}.#{i}=https://etcd-#{i}.#{@ec2_tag_cluster}.#{@dns_root}:#{@peer_port}" -%>
<% end -%>
<%= array.join(',') %>"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster-<%= @etcd_cluster_name %>"
ETCD_DISCOVERY_FALLBACK="proxy"
ETCD_STRICT_RECONFIG_CHECK=false
#

#[security]
ETCD_CLIENT_CERT_AUTH=true
ETCD_TRUSTED_CA_FILE=/etc/etcd/ssl/certs/etcd-<%= @etcd_cluster_name %>.pem
ETCD_CERT_FILE=/etc/etcd/ssl/certs/etcd-<%= @etcd_cluster_name %>-cert.pem
ETCD_KEY_FILE=/etc/etcd/ssl/private/etcd-<%= @etcd_cluster_name %>-key.pem

ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/ssl/certs/etcd-<%= @etcd_cluster_name %>.pem
ETCD_PEER_CERT_FILE=/etc/etcd/ssl/certs/etcd-<%= @etcd_cluster_name %>-cert.pem
ETCD_PEER_KEY_FILE=/etc/etcd/ssl/private/etcd-<%= @etcd_cluster_name %>-key.pem

#
#[logging]
ETCD_DEBUG=false
